{% extends 'sites/base.html' %}

{% block content %}
    <h1>Summary</h1>
    <a href="/summary">
        <button type="button" class="btn btn-primary">Sum</button>
    </a>
    <a href="/summary-average">
        <button type="button" class="btn btn-primary active">Average</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <td><strong>Site</strong></td>
                <td><strong>A Value</strong></td>
                <td><strong>B Value</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{site.name}}</td>
                    <td>{{site.a_aggr|floatformat:2}}</td>
                    <td>{{site.b_aggr|floatformat:2}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}